<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" cancelButtonText="Huỷ"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item class="order-item" color="color-primary-contrast">
      <ion-label>
        <div class="customer">
          <span> Lê Xuân Quỳnh</span> <span><a href="tel:+84388166199">84388166199</a></span>
        </div>
        <div class="bill">
          <div class="cover">
            <img src="./assets/product.jpg" alt="">
          </div>

          <div class="bill-info">
            <h3>Tay Cầm Chơi Game Flydigi Wasp 2</h3>
            <p>Shopee<p>
                <div class="price">
                  <h3 class="lbl">Tổng đơn hàng: </h3>
                  <label class="val">990,000đ</label>
                </div>
          </div>
        </div>

        <div class="shipping-status">
          Đang vận chuyển
        </div>
        <div class="order-id">
          <span>Mã đơn hàng</span> <span>19082913501375P</span>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="order-item" color="color-primary-contrast">
      <ion-label>
        <div class="customer">
          <span> Lê Xuân Quỳnh</span> <span><a href="tel:+84388166199">84388166199</a></span>
        </div>
        <div class="bill">
          <div class="cover">
            <img src="./assets/product.jpg" alt="">
          </div>

          <div class="bill-info">
            <h3>Tay Cầm Chơi Game Flydigi Wasp 2</h3>
            <p>Shopee<p>
                <div class="price">
                  <h3 class="lbl">Tổng đơn hàng: </h3>
                  <label class="val">990,000đ</label>
                </div>
          </div>
        </div>

        <div class="shipping-status">
          Đang vận chuyển
        </div>
        <div class="order-id">
          <span>Mã đơn hàng</span> <span>19082913501375P</span>
        </div>
      </ion-label>
    </ion-item>
    <ion-item class="order-item" color="color-primary-contrast">
      <ion-label>
        <div class="customer">
          <span> Lê Xuân Quỳnh</span> <span><a href="tel:+84388166199">84388166199</a></span>
        </div>
        <div class="bill">
          <div class="cover">
            <img src="./assets/product.jpg" alt="">
          </div>

          <div class="bill-info">
            <h3>Tay Cầm Chơi Game Flydigi Wasp 2</h3>
            <p>Shopee<p>
                <div class="price">
                  <h3 class="lbl">Tổng đơn hàng: </h3>
                  <label class="val">990,000đ</label>
                </div>
          </div>
        </div>

        <div class="shipping-status">
          Đang vận chuyển
        </div>
        <div class="order-id">
          <span>Mã đơn hàng</span> <span>19082913501375P</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>