.order-item {
  ion-label {
    .price {
      border-bottom: 1px solid orangered;
      padding-bottom: 6px;
      color: orangered;
      text-align: right;
      .lbl {
        color: black;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}