<ion-header>
  <ion-toolbar>
    <ion-searchbar showCancelButton="focus" cancelButtonText="Huỷ"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item class="order-item">
      <ion-avatar slot="start">
        <img src="./assets/product.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Tay Cầm Chơi Game Flydigi Wasp 2</h3>
        <p>Shopee<p>
        <div class="price">
          <h3 class="lbl">Tổng đơn hàng: </h3>
          <label class="val">990,000đ</label> 
        </div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/product.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tay Cầm Chơi Game Flydigi Wasp 2</h2>
        <h3>Shopee</h3>
        <p>990,000đ</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/product.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tay Cầm Chơi Game Flydigi Wasp 2</h2>
        <h3>Shopee</h3>
        <p>990,000đ</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>