<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Flydigi Wasp 2</ion-title>
    <ion-buttons slot="end">
    <ion-button>
      Hoàn thành
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group class="images">
      <div class="image">
        <img src="./assets/product.jpg" alt="">
      </div>
      <div class="image">
        <img src="./assets/product.jpg" alt="">
      </div>
      <div class="image">
        <img src="./assets/product.jpg" alt="">
      </div>
      <div class="image">
        <img src="./assets/product.jpg" alt="">
      </div>
      <div class="image">
        <img src="./assets/product.jpg" alt="">
      </div>
      <div class="image add">
        <ion-icon name="add"></ion-icon>
      </div>
    </ion-item-group>
    <ion-item-group>
      <ion-item lines="full">
        <ion-input value="Tay cầm chơi game Flydigi Wasp 2" clear-input="true"></ion-input>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label slot="start" class="lbl">Danh Mục</ion-label>
        <ion-label slot="end">Danh Mục</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
      </ion-item-divider>
      <ion-item lines="full">
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-label slot="start" class="lbl">Giá gốc</ion-label>
        <ion-input slot="end" class="text-right" value="380.000" clear-input="true"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label slot="start" class="lbl">Giá bán</ion-label>
        <ion-input slot="end" class="text-right" value="480.000" clear-input="true"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label slot="start" class="lbl">Kho hàng</ion-label>
        <ion-input slot="end" class="text-right" value="48" clear-input="true"></ion-input>
        <!-- <ion-icon name="arrow-forward" slot="end"></ion-icon> -->
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>